<!--<article-header [article]="article"></article-header>-->
<div class="row justify-content-center content-container animated fadeIn">
    <div class="col-md-12 col-lg-7 mt-4 article-header" *ngIf="article">
        <div class="title text-center mb-3">{{article.title}}</div>
        <div class="text-center">
            <article-tag *ngFor="let tag of article.tags" [tag]="tag"></article-tag>
            <div class="mt-3 mb-3">
                By&nbsp;&nbsp;<a [routerLink]="'/user/' + article.author._id">{{article.author.name}}</a>
                &nbsp;&nbsp;/&nbsp;&nbsp;<small>{{article.createdTime | date:'yyyy/MM/dd hh:mm'}}</small>
                <span *ngIf="hasEditPermission()">
                &nbsp;&nbsp;
                <a [routerLink]="'/article/' + article._id + '/edit'" style="color: #41b883">编辑</a>
                &nbsp;&nbsp;/&nbsp;&nbsp;
                <a href="javascript:void(0)" style="color: #fe606a" (click)="deleteArticleClick()">删除</a>
            </span>
            </div>
        </div>
    </div>

    <div class="col-12"></div>

    <div class="col-lg-2 hidden-md-down"></div>

    <div class="col-md-12 col-lg-7">
        <div *ngIf="article">
            <div Markdown [data]="article.content" (tocUpdate)="onTocUpdate($event)"></div>
        </div>
        <div [style.display]="!!article ? 'block':'none'" id="gitment"></div>
    </div>

    <div class="col-lg-2 hidden-md-down">
        <div class="sticky-top" style="top: 70px;" *ngIf="!!toc && toc.length > 0">
            <app-article-toc [toc]="toc" [title]="article?.title"></app-article-toc>
        </div>
    </div>
</div>
