.article-section {
    color: #404040;
    background-color: white;
    border-left: 1px #DFDFDF solid;
    border-right: 1px #DFDFDF solid;
    border-bottom: 1px #DFDFDF solid;
    /*padding: 1.5rem;*/
}

.first-section {
    border-top: 1px #DFDFDF solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.last-section {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content:hover, .markdown-preview:hover {
    color: #40AEDB;
    cursor: pointer;
}

.article-section-title {

}

.markdown-preview h1 {
    display: none;
}

.markdown-preview img {
    max-width: 100%;
}

.markdown-preview {
    color: #6c6c6c;
}

.markdown-preview blockquote {
    border-left: 4px #66ddca solid;
    padding: 20px;
    background-color: #e2f2f9;
    margin-top: 20px;
}

.markdown-preview h2 {
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 1.5rem;
}

.markdown-preview p {
    line-height: 1.8;
}

.bottom {
    margin-bottom: 20px;
}