.article-section {
    color: #404040;
    border-bottom: 1px #DFDFDF solid;
    padding: 1.5rem;
}

.content:hover, .markdown-preview:hover {
    color: #40AEDB;
    cursor: pointer;
}

.markdown-preview h1 {
    display: none;
}

.markdown-preview img {
    max-width: 100%;
}

.markdown-preview {
    color: #6c6c6c;
}

.markdown-preview blockquote {
    border-left: 4px #66ddca solid;
    padding: 20px;
    background-color: #e2f2f9;
    margin-top: 20px;
}

.markdown-preview h1,
.markdown-preview h2,
.markdown-preview h3,
.markdown-preview h4,
.markdown-preview h5,
.markdown-preview h6 {
    font-size: 1.5rem;
}

.markdown-preview p {
    line-height: 1.8;
}

.avatar {
    border-radius: 50%;
}

.content {
    font-family: '微软雅黑', "Helvetica Neue", Helvetica, Arial, sans-serif
}

.article-container:hover {
    color: #40AEDB
}