<section class="article-section" (click)="onSectionClick()">
    <!--<a class="card-title" [routerLink]="'/article/' + article.articleID"></a>-->
    <div class="content">
        <h2 class="article-section-title">{{article.title}}</h2>
        <div class="markdown-preview" *ngIf="article.summary" Markdown [data]="article.summary | summarycutter"></div>
    </div>
    <div class="bottom">
        <small class="text-muted" style="margin-right: 10px">
            <i class="fa fa-calendar"></i> {{ article.createdTime | articledate | date:'yyyy年MM月dd日 HH:mm'}}
        </small>
        <div style="display: inline">
            <article-tag *ngFor="let tag of article.tags" [tag]="tag"></article-tag>
        </div>
        <div>
            {{article.author | tostring}}
        </div>
    </div>
</section>