@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

.navbar {
  transition: all 0.35s;
  background-color: #40AEDB;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .15);
}

.brand-img {
  width: 85px;
  height: auto;
}

.hollow.navbar {
  background-color: transparent;
  transition: all 0.35s;
  box-shadow: none;
}

.hollow.navbar .navbar-brand {
  transition: all 0.35s;
}

.pinned.navbar {
  background-color: #40AEDB;
  transition: all 0.35s;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, .25);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .25);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .25);
}

.pinned.navbar .navbar-brand {
  color: white;
}

@media (min-width: 991px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .navbar-nav {
    align-items: center
  }
  .underline-anim {
    position: relative;
    /*color: #40AEDB;*/
    text-decoration: none;
  }

  .underline-anim:hover {
    /*color: #000;*/
  }

  .underline-anim:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .underline-anim:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.header-space {
  height: 57px;
}

.nav-item a,
.nav-item a:link,
.nav-item a:visited,
.nav-item a:hover,
.nav-item a:focus,
.nav-item a:active {
  color: rgba(256, 256, 256, 0.5);
}

.nav-item a:hover {
  color: white;
}

.nav-item a.active {
  color: white;
}

.avatar {
  border-radius: 50%;
}