<nav id="nav-header"
     class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top nav-header"
     [class.hollow]="headerIsHollow"
>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbar" aria-controls="navbar" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link" routerLink="" style="padding-left: 0">
        <img class="brand-img" src="/assets/brand-white.png" alt="brand">
    </a>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link underline-anim active" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link underline-anim" routerLink="/category/Web">Web</a>
            </li>
            <li class="nav-item">
                <a class="nav-link underline-anim" routerLink="/category/iOS">iOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link underline-anim" routerLink="/category/Android">Android</a>
            </li>
            <li class="nav-item">
                <a class="nav-link underline-anim" routerLink="/category/ELK">ELK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link underline-anim" routerLink="/category/精选">精选</a>
            </li>
            <li class="nav-item">
                <a class="nav-link underline-anim" routerLink="/category/盈">盈</a>
            </li>
        </ul>
        <div style="height: 1px; background-color: #e2e2e2"></div>
        <ul class="navbar-nav">
            <li *ngIf="!loggedIn" class="nav-item">
                <a class="nav-link underline-anim active" routerLink="/user/login">
                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;登录
                </a>
            </li>
            <li *ngIf="loggedIn" class="nav-item">
                <a class="nav-link underline-anim active" routerLink="/article/create">
                    <i class="fa fa-edit"></i>&nbsp;写文章
                </a>
            </li>
            <li *ngIf="loggedIn" class="nav-item">
                <a class="nav-link underline-anim active" href="javascript:void(0);"
                   (click)="onLogoutClick()">
                    <i class="fa fa-power-off"></i>&nbsp;登出
                </a>
            </li>
            <li *ngIf="loggedIn" class="nav-item">
                <a class="" style="margin-left: 1rem" routerLink="/user/me">
                    <img class="avatar" [src]="authAvatar" style="width: 40px; height: 40px"/>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div [class.header-space]="!headerIsHollow">
</div>