<article-header [article]="article"></article-header>


<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div *ngIf="article">
                <div Markdown [data]="article.content" (tocUpdate)="onTocUpdate($event)"></div>
            </div>
        </div>

        <div class="col-lg-3 hidden-md-down">
            <div class="sticky-top" style="top: 70px;">
                <div class="widget">
                    <app-article-toc [toc]="toc"></app-article-toc>
                </div>
            </div>
        </div>
    </div>

</div>

