/*:host /deep/ */
img {
    max-width: 100%;
}

blockquote {
    border-left: 4px #66ddca solid;
    padding: 20px;
    background-color: #e2f2f9;
}

h1 {
    padding-bottom: 14px;
    padding-top: 14px;
    font-size: 2.2rem;
}

h2 {
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 1.5rem;
}

p {
    line-height: 1.8;
}

.widget {
    border-left: 1px #e3e3e3 solid;
    padding-left: 16px;
    margin-top: 40px;
}