.tag {
    display: inline-block;
    font-size: .75em;
    border-radius: 5px;
    line-height: 17px;
    padding: 0 6px;
    margin: 3px 3px;
    text-decoration: none;
}

.tag:hover {
    color: #46bca3;
    border-color: #46bca3;
    text-decoration: none;
}

.tag-light {
    border: 1px solid #fff;
    color: #fff;
}

.tag-gray {
    border: 1px solid #9c9c9c;
    color: #5f5f5f;
}