@import "../../../../theme/sass/conf/conf.scss";

.article-section {
  cursor: pointer;
  transition: all 100ms ease-in;
  padding: 1rem 0;
  &:hover {
    background-color: rgba(207, 233, 244, 0.21);
  }
  border-bottom: 1px dashed $border;
}

$font-size: 14px;
$line-height: 1.8;
$lines-to-show: 4;

$title-font-size: 28px;
$title-font-height: 1.3;

.markdown-preview {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-normal;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex:1;
  -ms-flex:1;
  flex:1
}

.markdown-preview * {
  margin: 0;
  padding: 0;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-normal;
  color: tint($default-text, 20%);
}

.title {
  font-size: $title-font-size;
  font-weight: 500;
  line-height: $title-font-height;
  color: $default-text;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.summary_img {
  //margin-top: $title-font-size * $title-font-height;
}

.summary_img_container {
  margin-right: 16px;
  width: $font-size*$line-height*$lines-to-show * 5 / 4;
  height: $font-size*$line-height*$lines-to-show;
  -webkit-align-items: center;
  align-items: center;
  background-color: #efefef;
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;

  img {
    object-fit: cover;
    left: 50%;
    opacity: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    transition: all 300ms ease-in;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.summary_img_container img.loaded {
  opacity: 1;
  z-index: 0;
}

.avatar {
  width: 38px;
  height: 38px;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  transition: all 120ms ease-in;
  &:hover {
    //filter: blur(4px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
}

.content {
  padding-left: 48px;
}