<div class="article-section animated row" [ngClass]="randomInClass"
     (click)="onSectionClick()">
    <div class="ml-3">
        <a [routerLink]="'/user/' + article.author._id">
            <img class="avatar" [src]="article.author.avatar">
        </a>
    </div>
    <div class="col">
        <div class="title">
            {{article.title}}
        </div>
        <div class="row mt-2">
            <div *ngIf="article.summary"
                 class="markdown-preview col"
                 Markdown
                 [renderAsHtml]="false"
                 [data]="article.summary">
            </div>
            <div *ngIf="article.summary && article.summaryImages && article.summaryImages.length > 0" style="position: relative">
                <div class="summary_img_container">
                    <img [src]="article.summaryImages[0]"
                         (load)="imageLoaded = true"
                         [class.loaded]="imageLoaded">
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-2">
            <div>
                <article-tag *ngFor="let tag of article.tags" [tag]="tag"></article-tag>
            </div>
            <small class="time">
                {{article.createdTime | timeAgo}}
            </small>
        </div>
    </div>

</div>