//$font-family: 'Roboto', sans-serif;
//$font-family: 'Architects Daughter', cursive;
$font-family: 'Open Sans', sans-serif;

$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

$default-animation-duration: 0.2s;
$default-animation-style: ease-in;

$assets-root: '/assets';
$images-root: '/img/';
$fonts-root: '/fonts/';

$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-bolder: 500;
$font-ultraBold: 900;

$header-height: 60px;
$footer-height: 115px;