<app-article-section
        *ngFor="let article of articles; let first = first; let last = last"
        [isHead]="first"
        [isTail]="last"
        [article]="article">
</app-article-section>

<nav *ngIf="pagination && pagination.pages.length > 1" style="margin-top: 1.5rem">
    <ul class="pagination justify-content-center">
        <li *ngFor="let page of pagination.pages" class="page-item" [class.active]="currentPage == page">
            <!--<a class="page-link" [routerLink]="'/page/' + page">{{page}}</a>-->
            <a class="page-link" href="javascript:void(0);" (click)="onPaginationClick(page)">
                {{page}}
            </a>
        </li>
    </ul>
</nav>


<div id="disqus_thread"></div>