<!--<article-header></article-header>-->

<div class="container">
    <div class="row">

        <div class="col-lg-9 col-md-12">
            <div class="section-container"
                 *ngFor="let article of articles; let first = first; let last = last"
                 [class.first-section]="first"
                 [class.last-section]="last">
                <app-article-section [article]="article"></app-article-section>
            </div>
            <nav *ngIf="pagination" style="margin-top: 40px">
                <ul class="pagination justify-content-center">
                    <li *ngFor="let page of pagination.pages" class="page-item" [class.active]="currentPage == page">
                        <a class="page-link" [routerLink]="'/page/' + page">{{page}}</a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="col-lg-3 col-md-12">
            <widget-statics></widget-statics>
            <app-tag-cloud></app-tag-cloud>
        </div>

    </div>
</div>

