<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar" aria-controls="navbar" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="">Septenary</a>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/post">发现</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/">Disable</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li *ngIf="false" class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                    </form>
                </li>
                <li *ngIf="!getLoggedIn()" class="nav-item">
                    <a class="nav-link" routerLink="/user/login">登录</a>
                </li>
                <li *ngIf="getLoggedIn()" class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" data-toggle="dropdown">
                        欢迎
                    </span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/user/me">个人中心</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0);" (click)="onLogoutClick()">登出</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="root-router">
        <router-outlet></router-outlet>
    </div>

    <div>
        <p class="text-center" style="margin: 20px">Copyright © 2017 · Septenary · 中文博客</p>
    </div>

</div>
