@import "../../theme/sass/conf/conf";

.uploader input {
  display: none;
}

.uploader {
  -webkit-align-items: center;
  align-items: center;
  background-color: #efefef;
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  height: 150px;
  border-radius: 3px;
  border: 2px dashed #DDD;
  position: relative;
  width: 100%;

  .close-btn {
    display: none;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    color: $danger;
    top: -15px;
    right: -12px;
    z-index: 1;
    &::before {
      line-height: 30px;
    }
    &:hover {
      color: shade($danger, 20%);
    }
  }

  .copy-btn {
    display: none;
    position: absolute;
    font-size: 23px;
    cursor: pointer;
    color: $info;
    top: 25px;
    right: -10px;
    z-index: 1;
    &::before {
      line-height: 30px;
    }
    &:hover {
      color: $success;
    }
  }

  &:hover {
    .close-btn {
      display: block;
    }
    .copy-btn {
      display: block;
    }
  }
}

.uploader-hover {
  &:hover {
    border-color: $theme-color;
  }
}

.uploader img,
.uploader .icon {
  pointer-events: none;
}

.uploader,
.uploader .icon {
  transition: all 100ms ease-in;
}

.uploader .icon {
  color: tint($theme-color, 65%);
  font-size: 3rem;
}

.uploader img {
  object-fit: cover;
  left: 50%;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 3px;
  top: 50%;
  transition: all 300ms ease-in;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.uploader img.loaded {
  opacity: 1;
  z-index: 0;
}

.dragging {
  border-color: $theme-color;
}

.upload-container {
  position: relative;
}

.progress {
  width: 50%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: rgba(82, 220, 191, 0.75);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 18%;
  transition: width 200ms ease-in-out;
}

.spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
