.app-header {
    /*box-shadow: 0 2px 3px gray;*/
    background-color: transparent;
}

.app-header-primary {
    background-color: rgba(255, 255, 255, 0.85);
    border-bottom: solid 1px #e0e0e0;
}

.app-brand::first-letter {
    color: white;
    padding: 0 6px;
    border: 2px solid #5ba2dd;
    border-radius: 10%;
    background-color: #475058;
}

.app-brand {
    color: #475058;
    font-size: 26px;
    text-align: center;
}

.app-header-login-ico {
    font-size: 1.75rem;
    padding-right: 0.15rem;
}

.navbar-nav {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.app-nav-link {
    text-decoration: none;
    padding: 0;
    color: #6c7e8a;
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease;
}

.app-nav-link.active {
    color: #475058;
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease;
}

.app-nav-link.disabled {
    color: #7f92a4;
    cursor: not-allowed;
}

.app-nav-link:focus, .app-nav-link:hover:not(.disabled) {
    color: #5BA2DD;
}

@media (min-width: 991px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .navbar-nav {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .app-nav-link {
        padding: 0 1rem;
    }
}

@media (max-width: 990px) {
    .dropdown .dropdown-menu {
        display: block;
    }
}