p::first-letter {
    color: white;
    padding: 0px 6px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #2C3E50;
}
p {
    height: 60px;
    color: #26B9C7;
    padding: 0.35em;
    background-color: #2C3E50;
    font-size: 30px;
}