<nav class="navbar sticky-top navbar-toggleable-md navbar-light app-header" id="app-header">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand app-brand" routerLink="/home">Septenary</a>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
                <a class="app-nav-link active" routerLink="/home">首页</a>
            </li>
            <li class="nav-item dropdown">
                <span class="dropdown-toggle app-nav-link" id="dropdownMenuButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                    编程
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Android</a>
                    <a class="dropdown-item" href="#">iOS</a>
                    <a class="dropdown-item" href="#">Web</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">其它</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="app-nav-link disabled" href="#">音乐</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" style="display: none">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a routerLink="auth/login" routerLinkActive="active">
            <span class="navbar-text">
              <i class="fa fa-user-circle-o app-header-login-ico"></i>
            </span>
        </a>

    </div>
</nav>