<form>
    <label class="uploader" ondragover="return false;"
           [class.dragging]="dragging"
           (dragenter)="handleDragEnter()"
           (dragleave)="handleDragLeave()"
           (drop)="handleDrop($event)">

        <input type="file" name="file" accept="image/*" (change)="handleInputChange($event)">
        <i class="fa fa-upload icon"></i>
        <span></span>
        <img [src]="imageSrc"
             (load)="handleImageLoad()"
             [class.loaded]="imageLoaded"/>
    </label>
    <div *ngIf="uploading" class="progress-bar-container progress">
        <div class="progress-bar progress-bar-striped bg-info"
             [class.progress-bar-animated]="uploading"
             [style.width.%]="uploadProgress">
        </div>
    </div>
</form>