/* many thanks for http://tobiasahlin.com/spinkit */

.pre-bootstrap-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.pre-bootstrap-spinner {
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto auto;
}

.pre-bootstrap-double-bounce1, .pre-bootstrap-double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFF;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.pre-bootstrap-double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

#pre-bootstrap {
    background-color: #2C3E50;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 1.0;
    position: fixed;
    transition: all linear 300ms;
    -webkit-transition: all linear 300ms;
    z-index: 999999;
}

#pre-bootstrap.loaded {
    opacity: 0.0;
}
