.flatpickr-input {
    background-color: white;
}

.label {
    border-left-color: #40AEDB;
    border-left-width: 3px;
    border-left-style: solid;
    padding-left: 10px;
    color: #40AEDB;
    margin-top: 10px;
}