.title {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.label {
    font-size: 20px;
    line-height: 1.5em;
}

::-webkit-input-placeholder {
    color: #858585;
}

:-moz-placeholder { /* Firefox 18- */
    color: #858585;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #858585;
}

:-ms-input-placeholder {
    color: #858585;
}
