<p>Home</p>

<div style="background-color: #00B7FF; margin: 10px; position: sticky; top: 4.25rem; width: 50px; height: 50px; z-index: 999">
    {{msg}}
</div>

<div class="container">
    <div class="row" style="min-height: 600px">
        <div class="col-sm-3" style="background-color: #6077b2"></div>
        <div class="col-sm-3" style="background-color: #5ba2dd"></div>
        <div class="col-sm-3" style="background-color: #6077b2"></div>
        <div class="col-sm-3" style="background-color: #5ba2dd"></div>
    </div>
</div>